layout: index
description: 基于groovy DSL的后现代脚本化构建工具.
subtitle: 一款简洁而优雅的构建工具
comments: false
---
// 我是广告
.ui.vertical.stripe.segment.margin30
  .ui.aligned.stackable.three.column.grid.container
    // 简洁高效
    .column
      h3.ui.header
        i.lightning.icon
        | 简洁高效 
      p 代码简洁、结构清晰，抛弃繁琐的xml，写更少的代码快速构建~
    .column
      h3.ui.header
        i.world.icon
        |  多语言支持 
      p 基于groovy的DSL构建脚本,可以灵活定制各类构建任务,实现花样构建~
    // 插件扩展
    .column
      h3.ui.header
        i.search.icon
        |  插件扩展
      p 良好的官方及第三方插件支持，让你的构建轻松便捷~
